# Copy this to .env and adjust values.
SECRET_KEY=change-me-please

# Interface app DB (port hote 5432 -> db_interface:5432)
DB_USERNAME_INTERFACE=app
DB_PASSWORD_INTERFACE=app
DB_NAME_INTERFACE=telecom_interface_db

# Resilience app DB (port hote 5433 -> db_resilience:5432)
DB_USERNAME_RESILIENCE=app
DB_PASSWORD_RESILIENCE=app
DB_NAME_RESILIENCE=telecom_resilience_db

# Optional: if you want pgAdmin container
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# Optional: show reset link in UI (dev only)
RESET_LINK_VIA_UI=1
